{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-header="X-Frame-Options" value="ALLOWALL">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="CodingAlphas">
	<meta name="author" content="CodingAlphas">
	<meta name="keywords" content="CodingAlphas, Coding, Code, Interview, Aptitude, Preparation, Courses, Mock Test, Aptitude Preparation Kit, Alphas, theme, front-end, ui kit, web">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/icons/icon-48x48.png' %}" />
    <link href='https://fonts.googleapis.com/css?family=Helvetica' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<title>
        {% block title %}
        CodingAlphas
        {% endblock %}
    </title>

    {% block jscss %}

    {% endblock %}
	<style>
		body{
            font-family: Helvetica;
        }
		::-webkit-scrollbar {
  width: 6px;
  height:6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

                .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-45deg);
} 
.wrapper,.content{
	overflow-y:scroll;
	position: relative;
}
.success {
   background-color:green;
}
.error {
   background-color:red;
}

.form-label{
	font-weight:600;
}
.form-control{
	height:30px;
}
.google:hover{
	background-color: #E6E6E6;
}
{% block style %}

    {% endblock %}
	</style>
    
</head>

<body style="overflow-x: hidden; background-color: #F5F5F5;">

		{% block sidebar %}
            
		{% endblock %}
	
        
			{% block navbar %}

			{% endblock %}
			{% block top %}

			{% endblock %}

			
			
       
				
                {% block body %}
                
                {% endblock %}
     
            {% block footer %}

            {% endblock %}
            <div class="modal p-0 m-0 fade" style="" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content"  style="">
                   <div class="modal-header header1">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link link1 active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sign In</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link link1 " id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Sign Up</a>
                        </li>
                      
                      </ul>
                   </div>
                    <div class="modal-body">
                       
                          <div class="tab-content" id="pills-tabContent">
                            <div id="notifybox">

                            </div>
                            <div class=" jk tab-pane fade show active p-4" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div style="">
                                    <form>
                                        <div class="form-group">
                                          <label  for="exampleInputEmail1">Username</label>
                                          <input id="username" type="text" style="height:40px; " class="form-control"  aria-describedby="emailHelp" placeholder="Username">
                                            </div>
                                        <div class="form-group">
                                          <label  for="exampleInputPassword1">Password</label>
                                          <input id="password" type="password" class="form-control"  placeholder="Password" style="height:40px;">
                                        </div>
                                       
                                        <a onclick="authenticate('signin')" style="width:100%; " href="#" class="btn submit btn-outline-dark">Sign In</a>
                                        <a class="mt-2" style=" font-size: 12px; letter-spacing: 1px;" href="#">Forgot Password?</a>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade p-4" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="">
                                    <form>
                                      {% csrf_token %}
                                        <div class="form-inline mb-2">
                                            <div style="width:50%;" >
                                                <label class="mb-2" style=" float:left;" for="exampleInputEmail1">First Name</label>
                                                <input type="email" id="first" style="height:40px;  " class="form-control"aria-describedby="emailHelp" placeholder="First Name">
                                            </div>
                                            <div style="width:50%;">
                                                <label class="mb-2" style=" float: left;" for="exampleInputEmail1">Last Name</label>
                                                <input type="email" id="last" style="height:40px;   " class="form-control"  aria-describedby="emailHelp" placeholder="Last Name">
                                            </div>
                                            </div>
                                    <div class="form-group">
                                      <label style="" for="exampleInputEmail1">Email address</label>
                                      <input type="email" id="email" style="height:40px;   " class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                    <div class="form-group">
                                      <label style=""  for="exampleInputPassword1">Password</label>
                                      <input type="password" id="pass1" class="form-control"  placeholder="Password" style="height:40px;  ">
                                    </div>
                                    <div class="form-group">
                                        <label style=""  for="exampleInputPassword1">Password Confirm</label>
                                        <input type="password" id="pass2" class="form-control"  placeholder="Re-type Password" style="height:40px;  ">
                                      </div>
                                   
                                    <a style="width:100%;  " onclick="authenticate('signup')" class="btn submit btn-outline-dark">Sign Up</a>
                                  </form>
                                </div>
                            </div>
                        
                          </div>
                    </div>
                    
                  </div>
                </div>
              </div>
	

  <script>
    // tooltip
    $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
    // Authentication
    function authenticate(method){
			if (method == 'signin'){
			$.ajax({
				type:'GET',
				url:'/authenticate/',
				data:{
					method:method,
					username: $.trim($('#username').val()),
    				password: $.trim($('#password').val()),
				},
				success:function(json){
					json = JSON.parse(json);
					if (json[0] == 'bad'){
						document.getElementById('notifybox').innerHTML = `<div class=" mt-3 alert alert-danger alert-dismissible" style="display:flex; justify-content:flex-start;" role="alert">
											<div class="alert-icon">
												<i class="fa fa-warning"></i>
											</div>
											<div class="alert-message ml-3">
												`+json[1]+`
											</div>
										</div>`;
					}
					else{
						
						window.location = window.location;
						
						
					}
					
				},
				error:function(json){
					json = JSON.parse(json);
					
				}

			});
		}
		else{
			$.ajax({
			type: 'POST',
			url: '/authenticate/',
			data: {
				method: method,
				first_name: $.trim($('#first').val()),
				last_name: $.trim($('#last').val()),
				email : $.trim($('#email').val()),
				pass1 : $.trim($('#pass1').val()),
				pass2 : $.trim($('#pass2').val()),
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				
			},
			success: function(response) {
        json = JSON.parse(response);
        console.log(json);
				if (json[0] == 'bad'){
						document.getElementById('notifybox').innerHTML = `<div style="display:flex; justify-content:flex-start;" class=" mt-3 alert alert-danger alert-dismissible" role="alert">
											<div class="alert-icon">
												<i class="fa fa-warning"></i>
											</div>
											<div class="alert-message ml-2">
												`+json[1]+`
											</div>
										</div>`;
					}
					else{
						console.log("dfbh");
            window.location.href = window.location.href;
						
						
					}

			},
    });
		}

		}
  </script>
    {% block script %}

    {% endblock %}

</body>

</html>